<component name="libraryTable">
  <library name="Spring MVC" type="spring-mvc">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-aop-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-aspects-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-beans-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-context-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-context-support-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-core-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-expression-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-instrument-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-instrument-tomcat-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-jdbc-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-jms-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-messaging-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-orm-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-oxm-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-test-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-tx-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-web-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-webmvc-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-webmvc-portlet-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../IntellijFirstMVC/lib/spring-websocket-4.3.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../lib/validation-api-1.0.0.GA.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../lib/commons-fileupload-1.3.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../lib/commons-io-2.4.jar!/" />
      <root url="jar://D:/software/apache-tomcat-8.0.29/lib/servlet-api.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>