<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://E:/fileStorage/CourseStudy/SpringinAction/lib/aop/spring-aop-4.3.4.RELEASE.jar!/" />
      <root url="jar://E:/fileStorage/CourseStudy/SpringinAction/lib/aop/spring-aspects-4.3.4.RELEASE.jar!/" />
      <root url="jar://E:/fileStorage/CourseStudy/SpringinAction/lib/core/spring-beans-4.3.4.RELEASE.jar!/" />
      <root url="jar://E:/fileStorage/CourseStudy/SpringinAction/lib/core/spring-context-4.3.4.RELEASE.jar!/" />
      <root url="jar://E:/fileStorage/CourseStudy/SpringinAction/lib/core/spring-context-support-4.3.4.RELEASE.jar!/" />
      <root url="jar://E:/fileStorage/CourseStudy/SpringinAction/lib/core/spring-core-4.3.4.RELEASE.jar!/" />
      <root url="jar://E:/fileStorage/CourseStudy/SpringinAction/lib/core/spring-expression-4.3.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>